################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AkkaDotNet/WinTail/obj
/AkkaDotNet/WinTail/bin/Debug/netcoreapp3.1
/AkkaDotNet/.vs/AkkaDotNet
/.vs
